<%= form_with(model: dog, local: true) do |f| %>
  <% if dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dog.errors.count, "件のエラーが発生したため 保護猫 は保存されませんでした:") %></h2>

      <ul>
        <% dog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :dog_name, "名前" %><br />
    <%= f.text_field :dog_name %>
  </div>
  
  <div class="field">
    <%= f.label :dog_type, "種類" %><br />
    <%= f.text_field :dog_type %>
  </div>
  
  <div class="field">
    <%= f.label :dog_gender, "性別" %><br />
    <%= f.text_field :dog_gender %>
  </div>
  
  <div class="field">
    <%= f.label :dog_age, "年齢（登録時）" %><br />
    <%= f.text_field :dog_age %>
  </div>
  
  <div class="field">
    <%= f.label :dog_weight, "体重" %><br />
    <%= f.text_field :dog_weight %>
  </div>
  
  <div class="field">
    <%= f.label :dog_coat_color, "毛色" %><br />
    <%= f.text_field :dog_coat_color %>
  </div>
  
  <div class="field">
    <%= f.label :dog_image, "お写真" %><br />
    <%= f.attachment_field :dog_image %>
  </div>
  
  <div class="field dog_contraceptive_castrated">
    避妊・去勢
    <%= f.label :dog_contraceptive_castrated, "済", value: 1 %><br />
    <%= f.radio_button :dog_contraceptive_castrated, "1" %>
    <%= f.label :dog_contraceptive_castrated, "無", value: 0 %><br />
    <%= f.radio_button :dog_contraceptive_castrated, "0" %>
  </div>
  
  <div class="field dog_microchip">
    マイクロチップ
    <%= f.label :dog_microchip, "済", value: 1 %><br />
    <%= f.radio_button :dog_microchip, "1" %>
    <%= f.label :dog_microchip, "無", value: 0 %><br />
    <%= f.radio_button :dog_microchip, "0" %>
  </div>
  
  <div class="field dog_vaccination">
    ワクチン接種
    <%= f.label :dog_vaccination, "済", value: 1 %><br />
    <%= f.radio_button :dog_vaccination, "1" %>
    <%= f.label :dog_vaccination, "無", value: 0 %><br />
    <%= f.radio_button :dog_vaccination, "0" %>
  </div>
  
  <div class="field">
    <%= f.label :dog_one_thing, "ひとこと" %><br />
    <%= f.text_field :dog_one_thing %>
  </div>
  
  <div class="field">
    <%= f.label :dog_health, "健康状態" %><br />
    <%= f.text_field :dog_health %>
  </div>
  
  <div class="field">
    <%= f.label :dog_personality, "性格" %><br />
    <%= f.text_field :dog_personality %>
  </div>
  
  <div class="field">
    <%= f.label :dog_history_of_protection, "保護された経緯" %><br />
    <%= f.text_field :dog_history_of_protection %>
  </div>
  
  <div class="field">
    <%= f.label :dog_remarks, "備考" %><br />
    <%= f.text_field :dog_remarks %>
  </div>
  
  <div class="field">
    <%= f.label :dog_center_information, "動物病院情報" %><br />
    <%= f.text_field :dog_center_information %>
  </div>

  <div class="actions">
    <%= f.submit animal_request %>
  </div>
<% end %>
