<script>
$("a.post").toPostLink();
</script>
<p id="notice"><%= notice %></p>

<h2><%= @dog.dog_name %></h2>
<%= attachment_image_tag @dog, :dog_image, format: 'jpeg', size: "100x100" %>
<%= link_to "相談する", user_rooms_path(center_id: @dog.center_id, dog_id: @dog.id), method: :post, class: "post" %>
<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
