<div class="login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2 class="text-center">保護施設 ログイン</h2>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  
    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-lg btn-primary center-block" %>
    </div>
  <% end %>
  
  <div class="guest">
    <%= link_to 'ゲストログイン', centers_guest_center_sign_in_path, class: "btn btn-lg btn-success", method: :post %>
  </div>
  <%= link_to "新規登録", new_center_registration_path, data: {"turbolinks" => false}, class: "new"%>
</div>