<div class="chat-person">
  <p><%= @user_room.center.name %>&emsp;
    <% if @user_room.cat %>
      <%= @user_room.cat.cat_name %>
    <% elsif @user_room.dog %>
      <%= @user_room.dog.dog_name %>
    <% end %>
  </p>
</div>
<div id="chat-frame">
  <% @user_messages.each do |message| %>
    <div>
      <% if message.user %>
        <p class="chat-talk mytalk chat-talk-right">
          <span class="talk-content"><%= message.user_message %></span>
        </p>
        <div class="bms_clear"></div>
      <% else %>
        <p class="chat-talk chat-talk-left">
          <span class="talk-icon">
            <%= image_tag 'user.png', class: "user-img" %>
          </span>
          <span class="talk-content"><%= message.user_message %></span>
        </p>
        <div class="bms_clear"></div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="bms_send">
  <%= form_with model: @user_message, url: user_message_path, local: true do |f| %>
    <%= f.text_field :user_message, class:"bms_send_message" %>
    <%= f.hidden_field :user_room_id, value: @user_room.id %>
  
    <%= f.submit "é€ä¿¡", class:"bms_send_btn" %>
  <% end %>
</div>

