<h2>里親希望者 新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
  <div class="field">
    <%= f.label :name, "名前" %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :furigana_name, "ふりがな" %><br />
    <%= f.text_field :furigana_name %>
  </div>
  
  <div class="field">
    <%= f.label :age, "年齢" %><br />
    <%= f.number_field :age %>
  </div>
  
  <div class="field">
    性別
    <%= f.label :gender, "男", value: 1 %><br />
    <%= f.radio_button :gender, "1" %>
    <%= f.label :gender, "女", value: 0 %><br />
    <%= f.radio_button :gender, "0" %>
  </div>
  
  <div class="field">
    <%= f.label :postcode, '郵便番号' %>
    <%= f.text_field :postcode, autocomplete: 'postcode', class: 'form-control' %>
     
    <%= f.label :prefecture_code, '都道府県' %>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control' %>
    
    <%= f.label :address_city, '市区町村' %>
    <%= f.text_field :address_city, autocomplete: 'address_city', class: 'form-control' %>
    
    <%= f.label :address_street, '番地' %>
    <%= f.text_field :address_street, autocomplete: 'address_street', class: 'form-control' %>
    
    <%= f.label :address_building, '建物' %>
    <%= f.text_field :address_building, autocomplete: 'address_building', class: 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :tel, "電話番号" %><br />
    <%= f.text_field :tel %>
  </div>
  
  <div class="field">
    <%= f.label :pets_allowed, "犬・猫可住宅にお住まいですか？" %>
    <%= f.check_box :pets_allowed, :as => :boolean, checked:false %>
  </div>
  
  <div class="field">
    <%= f.label :living, "生計を立てる収入はございますか？" %>
    <%= f.check_box :living, :as => :boolean, checked:false %>
  </div>
  
  <div class="field">
    <%= f.label :vaccination, "譲渡後、狂犬病予防注射・ワクチン接種をお約束いただけますか？" %>
    <%= f.check_box :vaccination, :as => :boolean, checked:false %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "devise/users/shared/links" %>
