<%= form_with(model: cat, local: true) do |f| %>
  <% if cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cat.errors.count, "件のエラーが発生したため 保護猫 は保存されませんでした:") %></h2>

      <ul>
        <% cat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :cat_name, "名前" %><br />
    <%= f.text_field :cat_name %>
  </div>
  
  <div class="field">
    <%= f.label :cat_type, "種類" %><br />
    <%= f.text_field :cat_type %>
  </div>
  
  <div class="field">
    <%= f.label :cat_gender, "性別" %><br />
    <%= f.text_field :cat_gender %>
  </div>
  
  <div class="field">
    <%= f.label :cat_age, "年齢（登録時）" %><br />
    <%= f.text_field :cat_age %>
  </div>
  
  <div class="field">
    <%= f.label :cat_weight, "体重" %><br />
    <%= f.text_field :cat_weight %>
  </div>
  
  <div class="field">
    <%= f.label :cat_coat_color, "毛色" %><br />
    <%= f.text_field :cat_coat_color %>
  </div>
  
  <div class="field">
    <%= f.label :cat_image, "お写真" %><br />
    <%= f.file_field :cat_image %>
  </div>
  
  <div class="field cat_contraceptive_castrated">
    <%= f.label :cat_contraceptive_castrated %><br />
    <%= f.check_box :cat_contraceptive_castrated, {}, true, false %>
  </div>
  
  <div class="field cat_microchip">
    <%= f.label :cat_microchip %><br />
    <%= f.check_box :cat_microchip, {}, true, false %>
  </div>
  
  <div class="field cat_vaccination">
    <%= f.label :cat_vaccination %><br />
    <%= f.check_box :cat_vaccination, {}, true, false %>
  </div>
  
  <div class="field">
    <%= f.label :cat_one_thing, "ひとこと" %><br />
    <%= f.text_field :cat_one_thing %>
  </div>
  
  <div class="field">
    <%= f.label :cat_health, "健康状態" %><br />
    <%= f.text_field :cat_health %>
  </div>
  
  <div class="field">
    <%= f.label :cat_personality, "性格" %><br />
    <%= f.text_field :cat_personality %>
  </div>
  
  <div class="field">
    <%= f.label :cat_history_of_protection, "保護された経緯" %><br />
    <%= f.text_field :cat_history_of_protection %>
  </div>
  
  <div class="field">
    <%= f.label :cat_remarks, "備考" %><br />
    <%= f.text_field :cat_remarks %>
  </div>

  <div class="actions">
    <%= f.submit animal_request %>
  </div>
<% end %>