<p id="notice"><%= notice %></p>

<h1>Foster Parent Recruiters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foster_parent_recruiters.each do |foster_parent_recruiter| %>
      <tr>
        <td><%= link_to 'Show', foster_parent_recruiter %></td>
        <td><%= link_to 'Edit', edit_foster_parent_recruiter_path(foster_parent_recruiter) %></td>
        <td><%= link_to 'Destroy', foster_parent_recruiter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foster Parent Recruiter', new_foster_parent_recruiter_path %>
