<h2 style="padding-bottom:30px;">チャットルーム一覧</h2>
<% if @center_rooms.blank? %>
  <p>チャットルームはありません</p>
  <p>里親希望者からのメッセージを待ちましょう。</p>
<% else %>
  <% @center_rooms.each do |center_room| %>
    <div class="chat_rooms">
      <% if unchecked_notifications.any? %>
        <span class="badge">&nbsp;</span>
      <% end %>
      <% if center_room.cat %>
        <%= link_to(center_room_path(center_room), class: "link") do %>
          <div class="animal">
            <h4><%= center_room.user.name %>さん</h4>
            <p>
              <%= image_tag center_room.cat.cat_image.to_s, size: "150x150" %><br>
              <%= center_room.cat.cat_name %><br>
              <%= center_room.cat.cat_age %>/
              <% if center_room.cat.cat_gender %>
                オス/
              <% else %>
                メス/
              <% end %>
              <%= center_room.cat.cat_type %>
            </p>
          </div>
        <% end %>
      <% else center_room.dog %>
        <%= link_to(center_room_path(center_room), class: "link") do %>
          <div class="animal">
            <h4><%= center_room.user.name %>さん</h4>
            <p>
              <%= image_tag center_room.dog.dog_image.to_s, size: "150x150" %><br>
              <%= center_room.dog.dog_name %><br>
              <%= center_room.dog.dog_age %>/
              <% if center_room.dog.dog_gender %>
                オス/
              <% else %>
                メス/
              <% end %>
              <%= center_room.dog.dog_type %><br>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>