<div class="chat-person">
  <p><%= @center_room.user.name %>&emsp;
    <% if @center_room.cat %>
      <%= @center_room.cat.cat_name %>
    <% elsif @center_room.dog %>
      <%= @center_room.dog.dog_name %>
    <% end %>
  </p>
</div>
<div id="chat-frame">
  <% @center_messages.each do |message| %>
    <div>
      <% if message.center %>
        <p class="chat-talk mytalk">
          <span class="talk-content"><%= message.user_message %></span>
        </p>
      <% else %>
        <p class="chat-talk">
          <span class="talk-icon">
            <%= image_tag 'user.png', class: "user-img" %>
          </span>
          <span class="talk-content"><%= message.user_message %></span>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
<div class="bms_send">
  <%= form_with model: [:centers, @center_message], url: center_message_path, local: true do |f| %>
    <%= f.text_field :user_message, class:"bms_send_message" %>
    <%= f.hidden_field :user_room_id, value: @center_room.id %>
  
    <%= f.submit "é€ä¿¡", class:"bms_send_btn" %>
  <% end %>
</div>

