<header class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="container">
    <%= link_to "é‡Œè¦ªãƒžãƒƒãƒãƒ³ã‚°ã‚µã‚¤ãƒˆ", root_path, id: "logo", class: "navbar-brand" %>
    <nav>
      
      <button class="menu-trigger">
        <span></span>
        <span></span>
        <span></span>
      </button>
      
      <ul class="nav navbar-nav navbar-right menus">
        <li><%= link_to "ã“ã®ã‚µã‚¤ãƒˆã®ã¤ã„ã¦", about_path %></li>
        <li><%= link_to "è­²æ¸¡ã¾ã§ã®æµã‚Œ", flow_path %></li>
        <li><%= link_to "ä¿è­·çŒ«ã‚’æŽ¢ã™", cats_path %></li>
        <li><%= link_to "ä¿è­·çŠ¬ã‚’æŽ¢ã™", dogs_path %></li>
        <% if !current_delete_session %>
          <li><%= link_to 'é‡Œè¦ªå¸Œæœ›è€… ãƒ­ã‚°ã‚¤ãƒ³', new_user_session_path %></li>
          <li><%= link_to "é‡Œè¦ªå¸Œæœ›è€… æ–°è¦ç™»éŒ²", new_user_registration_path, data: {"turbolinks" => false} %></li>
          <li><%= link_to 'ä¿è­·æ–½è¨­ ãƒ­ã‚°ã‚¤ãƒ³', new_center_session_path %></li>
          <li><%= link_to "ä¿è­·æ–½è¨­ æ–°è¦ç™»éŒ²", new_center_registration_path, data: {"turbolinks" => false} %></li>
        <% end %>
      </ul>
      
      <% if current_delete_session %>
        <button class="menu-trigger">
          <%= image_tag 'user.png', class: "user-img" %>
        </button>
        <ul class="nav navbar-nav navbar-right menus">
          <li><%= link_to "ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«", current_profile_path %></li>
          <li><%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', current_delete_session, method: :delete %></li>
          <% if center_signed_in? %>
            <li><%= link_to "ä¿è­·çŒ«ã‚’æŠ•ç¨¿", new_cat_path %></li>
            <li><%= link_to 'ä¿è­·çŠ¬ã‚’æŠ•ç¨¿', new_dog_path %></li>
          <% end %>
          <% if current_destroy %>
            <li><%= link_to "é€€ä¼šã™ã‚‹", current_destroy, data: { confirm: "æœ¬å½“ã«é€€ä¼šã—ã¦ã‚ˆã‚ã—ã„ã§ã™ã‹ï¼Ÿ" }, method: :delete %></li>
          <% end %>
        </ul>
      <% end %>
      
      <% if current_delete_session %>
        <button class="menu-trigger">
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
          <%= link_to(current_rooms_path, class: "chat-logo") do %>
            <%= image_tag 'chat_logo.png', class: "chat-logo-img" %>
          <% end %>
        </button>
      <% end %>
      
    </nav>
  </div>
  <div class="header-menu">
    <ul class="menu">
      <li><%= link_to "ã‚µã‚¤ãƒˆã®ã¤ã„ã¦", about_path %></li>
      <li><%= link_to "è­²æ¸¡ã¾ã§ã®æµã‚Œ", flow_path %></li>
      <li><%= link_to "ðŸ±ä¿è­·çŒ«ã‚’æŽ¢ã™", cats_path %></li>
      <li><%= link_to "ðŸ¶ä¿è­·çŠ¬ã‚’æŽ¢ã™", dogs_path %></li>
      <li><%= link_to "ðŸ¥æ–½è¨­ã‹ã‚‰æŽ¢ã™", centers_path %></li>
    </ul>
  </div>
</header>
